
@{
    ViewData["Title"] = "Moreabout";
}

<div class="home-holder shadows">
    <a asp-controller="Home" asp-action="Index">
        <img class="home-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>
<div id="more-about-container" class="shadows">
    <h1 class="center">Više o nama</h1>
    <p class="more-about-subheader">Ovjde možete saznati više o poslovnici i vlasncima</p>
    <p class="more-about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed sapien metus, suscipit ut ullamcorper in, elementum ut dui.
        Proin eget auctor tellus, eget sollicitudin augue.
        Praesent bibendum lacinia lacus sed varius.
        Etiam finibus vel enim ut porta.
        Vestibulum dolor orci, congue dignissim molestie sed, eleifend blandit ligula.
        In hac habitasse platea dictumst.
    </p>
    <p class="more-about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed sapien metus, suscipit ut ullamcorper in, elementum ut dui.
        Proin eget auctor tellus, eget sollicitudin augue.
        Praesent bibendum lacinia lacus sed varius.
        Etiam finibus vel enim ut porta.
        Vestibulum dolor orci, congue dignissim molestie sed, eleifend blandit ligula.
        In hac habitasse platea dictumst.
    </p>
    <h2 class="center">Vlasnici</h2>
    <div id="owners-container">
        <div class="owners">
            <img class="owner-img" alt="Owner 1" src="~/ikonice/avatartest.png">
        </div>
        <p>Ahmetspahić Muhamed</p>
        <div class="owners">
            <img class="owner-img" alt="Owner 2" src="~/ikonice/avatartest.png">
        </div>
        <p>Buro Nedim</p>
    </div>
    <div id="more-about-logo">
        <img class="logo-bum" src="~/ikonice/logoBUM.png" alt="Logo BUM">
    </div>
</div>