@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="home-holder shadows">
    <a asp-controller="Home" asp-action="Index">
        <img class="full-scale-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>

<div id="login-holder" class="shadows">
    <h1 class="center">LOGIN</h1>
    <p class="login-text">Prijavite se na svoj korisnički račun.</p>
    <form method="post">

        <label asp-for="Input.Email" class="form-label">E-Mail:</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" /><br />
        <span asp-validation-for="Input.Email" class="warning-text-validation"></span><br />

        <label asp-for="Input.Password" class="form-label">Šifra:</label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" /><br />
        <span asp-validation-for="Input.Password" class="warning-text-validation"></span><br />

        <div class="login-small-container">
            <button id="login-button" class="control-button" type="submit">Prijavi se</button>
        </div>
    </form>
    <p class="login-info">Nemate korisnički račun?</p>
    <div class="login-small-container">
        <a class="login-register-button" href="/Identity/Account/Register">REGISTRUJ SE</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
