@model Comment
@{
    ViewData["Title"] = "Create";
}
<div class="home-holder shadows">
    <a asp-controller="Home" asp-action="Index">
		<img class="full-scale-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>

<div id="comment-container" class="container-style shadows">
	<h1 class="center">Kreiranje komentara</h1>
	<p class="p-subheader underlined">Pohvala? Žalba? Pošaljite je ovdje.</p>
	<form method="post">		

		<label asp-for="Content">Komentar:</label><br />
		<input asp-for="Content" class="form-control" />

		<div id="comment-button-holder">
			<button type="submit" class="control-button">Objavi</button>
			<a asp-controller="Comment" asp-action="Index" class="control-button">Nazad</a>
		</div>
	</form>
</div>

