@model IEnumerable<Comment>
@using ChocoShopBum.Data;
@using Microsoft.AspNetCore.Identity
@using ChocoShopBum.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<div class="home-holder shadows">
    <a asp-controller="Home" asp-action="Index">
        <img class="home-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>

<div id="forum-container" class="shadows">
    <h1 class="center">Forum</h1>
    <p>Mjesto za sve komentare.</p>
    <div id="forum-comment-holder">
		<a asp-controller="Comment" asp-action="Create" class="control-button">Novi komentar</a>
    </div>
    @foreach (var obj in Model)
    {
        <div id="comment-holder">
            <div id="comment-content">
				<p class="comment-content">@obj.Content</p>
				<p class="comment-date">Datum i vrijeme: @obj.CreatedDateTime</p>
            </div>
            <div id="comment-buttons">
            @if (UserManager.GetUserId(this.User) == obj.UserID)
            {
                <a asp-controller="Comment" asp-action="Edit" asp-route-id="@obj.CommentID" class="control-button">Edit</a>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@obj.CommentID" class="control-button">Remove</a>
            }
            </div>
        </div>
    }
</div>


